.copyright {
    background-color: $form_bg;
    .wrapper {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-family: $font;
            font-size: 11px;
            line-height: 15px;
            color: $white;
        }
    }
}