main .wrapper .capabilities {
    .tittle p {
        font-family: $font;
        font-size: 11px;
        line-height: 19px;
        color: $black;
    }
    .articles p {
        font-family: $font;
        font-size: 13px;
        line-height: 23px;
        color: $black;
    }
} 