.btn {
    width: 150px;
    height: 40px;
    font-family: $font;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform:uppercase;
    color: $white;
    background-color: $blue;
    border: 2px solid $blue;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    &:hover {
        color: $blue;
        background: $white;
      }
}