form .wrapper label input[type=email]{
    max-width: 250px;
    height: 40px;
    flex: 1;
    border: 1px solid $input_border;
    padding-left: 16px;
    cursor: text;
}

@media (max-width: 768px) {
    form .wrapper label {
        input[type=email] {
            max-width: 100%;
            padding-left: 10px;
        }
        input[type=submit] {
            width: 100%;
        }
    }    
}