$margc: 0 auto;
$font: "Open Sans", sans-serif;
$h1font: "Bebas Neue", sans-serif;
$white: #FFFFFF;
$blue: #00A4E5;
$black: #48555B;
$border_white: #E6E6E6;
$form_bg: #171819;
$input_border: #979797;
$footer_bg: #141A20;
$mbtablet: 20px;